<% include header %>

<div class="panel panel-default">
<div class="panel-heading">
	<h1 class="info">Add Form</h1>
</div>

	<div class="panel-body col-sm-12 col-md-4 -col-lg-2">
		<div class="alert alert-info">
<h1>Your video added.</h1><br>
<a href="/songs/addform" class="btn btn-success">Go back and add more!</a> 
<a href="/song/<%= id %>" class="btn btn-default" target="_blank">Visit video page</a></div>
	</div>
</div>
<% include footer %>

