<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bimbul</title>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootswatch/3.1.1/superhero/bootstrap.min.css' />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css">
  </head>
  <body>
