<% include header %>

<div class="jumbotron">
    <h1>Bimbul </h1>
    <hr>

     <%= city %><br />
    <button id="getgeo" class="btn btn-success"><i class="fa fa-location-arrow"></i></button>
    <div id="message"></div>
    <div id="map" class="col-md-12" style="height:300px;"></div>

  </div>

<% include footer %>
